$fadeTime: 0.5s;

html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #A12568;
  margin: 0 auto;
  position: relative;
  text-align: center;

  body {
    font-size: 1.5em;
    background-color: #2A0944;
    width: 80%;
    display: flex;
    flex-direction: column;

    header {
      margin: 0 auto;
      margin-top: 10px;
    }

    main {
      border: 1px solid black;
      border-radius: 10px;
      background-color: #3B185F;
      padding: 10px;
      margin: 0 auto;
      margin-top: 2em;
      text-align: center;

      * {
        margin: 5px 0;
      }

      h1 {
        font-size: 2em;
      }

      section {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        justify-content: space-around;

        @media (min-width: 768px) {
          flex-direction: row;
          margin: 2em 0;
        }

        >div {
          width: 100%;
          padding: 0;

          @media (min-width: 768px) {
            margin: 0 1em;
          }

          p {
            width: 100%;
            font-size: 0.7em;

            @media (min-width: 768px) {
              position: absolute;
            }
          }

          .valido {
            color: #C2FE06;
          }

          .invalido {
            color: #fe7060;
          }
        }

        .inputGroup {
          width: 100%;

          input,
          label {
            display: block;
            box-sizing: border-box;
          }
        }

        input,
        button {
          width: 100%;
          background-color: #FEC260;
          border: 1px solid black;
          border-radius: 10px;
          padding: 5px;
          font-size: 1em;
        }

        button {
          transition: transform 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        #divRefresh {
          width: 50px;
          align-self: center;
        }
      }

      .hidden {
        display: none;
        pointer-events: none;
      }

      #secGeradores {
        input {
          cursor: default;

          &:hover,
          &:focus {
            outline: none
          }
        }
      }

      #trocaModos {
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.7em;
      }
    }

    footer {
      position: absolute;
      bottom: 10px;
      width: 100%;
      font-size: 0.7em;
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.fade-in {
  animation: fadeIn $fadeTime;
  -webkit-animation: fadeIn $fadeTime;
  -moz-animation: fadeIn $fadeTime;
  -o-animation: fadeIn $fadeTime;
  -ms-animation: fadeIn $fadeTime;
}

.fade-out {
  animation: fadeOut $fadeTime;
  -webkit-animation: fadeOut $fadeTime;
  -moz-animation: fadeOut $fadeTime;
  -o-animation: fadeOut $fadeTime;
  -ms-animation: fadeOut $fadeTime;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}